In [1]:
%cd ../..
%load_ext autoreload
%autoreload 2

/root/capsule/code

In [3]:
from pipeline.export import to_s3
from pipeline import experiment, lab
import datajoint as dj; dj.conn().connect()

In [4]:
to_s3.export_df_foraging_sessions()
to_s3.export_df_regressions()
to_s3.export_df_model_fitting_param()

file exported to Han/ephys/report/st_cache/df_sessions.pkl, size = 1.1612730026245117 MB, df_length = 3001
file exported to Han/ephys/report/st_cache/df_linear_regression_rt.pkl, size = 3.0565595626831055 MB, df_length = 44408
file exported to Han/ephys/report/st_cache/df_logistic_regression_hattori.pkl, size = 6.779356956481934 MB, df_length = 105440
file exported to Han/ephys/report/st_cache/df_logistic_regression_su.pkl, size = 4.768707275390625 MB, df_length = 72468
file exported to Han/ephys/report/st_cache/df_model_fitting_params.pkl, size = 4.112431526184082 MB, df_length = 19243

,subject_id,session,model_id,n_trials,n_params,log_likelihood,aic,bic,lpt,lpt_aic,...,learn_rate,softmax_temperature,tau1,tau2,w_tau1,forget_rate,learn_rate_rew,learn_rate_unrew,choice_softmax_temperature,choice_step_size
0,447921,3,8,702,3,-471.210,948.421,962.083,0.511074,0.508895,...,0.008242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,447921,4,8,333,3,-165.151,336.301,347.726,0.608993,0.603532,...,0.348601,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,447921,5,8,394,3,-206.619,419.238,431.167,0.591902,0.587413,...,0.152924,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,447921,6,8,791,3,-478.809,963.619,977.639,0.545899,0.543832,...,0.508208,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,447921,7,8,750,3,-442.177,890.353,904.214,0.554566,0.552352,...,0.529453,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2744,661100,5,21,462,6,-79.193,170.386,195.199,0.842473,0.831603,...,NaN,0.261293,NaN,NaN,NaN,0.907638,0.571081,0.094223,20.000000,1.0
2745,661100,6,21,407,6,-102.478,216.957,241.010,0.777408,0.766032,...,NaN,0.283652,NaN,NaN,NaN,0.217826,0.938441,0.089442,12.142400,1.0
2746,661100,7,21,542,6,-139.029,290.058,315.829,0.773747,0.765228,...,NaN,0.184076,NaN,NaN,NaN,1.000000,0.124522,0.605976,0.708077,1.0
2747,661100,8,21,568,6,-121.698,255.395,281.448,0.807141,0.798660,...,NaN,0.010000,NaN,NaN,NaN,0.753453,0.009937,0.437122,0.942173,1.0
2748,661100,9,21,920,6,-296.923,605.846,634.792,0.724160,0.719453,...,NaN,0.342678,NaN,NaN,NaN,0.159006,0.845526,0.166598,1.612540,1.0

In [16]:
lab.Person()

*username    fullname
+----------+ +----------------+
daiek        Kayvon Daie
daveliu      Dave Liu
HH           Han Hou
Kenta        Kenta Hagihara
liangy10     Yajie Liang
Linda        Linda Amarante
Lucas        Lucas Kinsey
Lucas K      Lucas Kinsey
LucasK       Lucas Kinsey
NT           Nai-Wen Tien
rozsam       Marton Rozsa
singha       Amrita Singh
Smrithi      Smrithi Sunil
susu         Susu Chen
Tina         Tina Pluntke
Xinxin       Xinxin Yin
 (Total: 16)

In [1]:
import boto3

In [18]:
s3 = boto3.resource('s3')
my_bucket = s3.Bucket('aind-behavior-data')

In [23]:
import pandas as pd
a = pd.DataFrame([0, 1])

In [26]:
a.to_pickle('/root/capsule/results/temp.pkl')

In [27]:
def upload_file(file_name, bucket, object_name=None):
    """Upload a file to an S3 bucket

    :param file_name: File to upload
    :param bucket: Bucket to upload to
    :param object_name: S3 object name. If not specified then file_name is used
    :return: True if file was uploaded, else False
    """

    # If S3 object_name was not specified, use file_name
    if object_name is None:
        object_name = os.path.basename(file_name)

    # Upload the file
    s3_client = boto3.client('s3')
    try:
        response = s3_client.upload_file(file_name, bucket, object_name)
    except ClientError as e:
        logging.error(e)
        return False
    return True

In [28]:
upload_file('/root/capsule/results/temp.pkl', 'aind-behavior-data', 'Han/ephys/report/temp.pkl')

True

In [1]:
from pipeline.export import to_s3

ModuleNotFoundError: No module named 'pipeline'