In [1]:
%cd ../..

/home/jupyter/map-ephys

In [2]:
import pandas as pd

from pipeline import experiment, lab, foraging_analysis
import datajoint as dj

[2022-11-07 21:38:55,546][INFO]: Connecting map-superuser@datajoint.mesoscale-activity-map.org:3306
[2022-11-07 21:38:55,625][INFO]: Connected map-superuser@datajoint.mesoscale-activity-map.org:3306

## Basic queries of behavior

Add one column of `water_restriction_number` to `experiment.Session` for readability

In [12]:
session_with_h2o_id = experiment.Session * lab.WaterRestriction.proj('water_restriction_number')

All 2-lickport foraging sessions (Janelia and Allen)

In [23]:
all_foraging_sessions = session_with_h2o_id & (foraging_analysis.SessionTaskProtocol & 'session_task_protocol = 100')
all_foraging_sessions

*subject_id    *session    session_date     session_time     username     rig                  water_restriction_number
+------------+ +---------+ +--------------+ +--------------+ +----------+ +------------------+ +--------------------------+
447921         1           2019-09-11       13:56:46         NT           Training-Tower-3     HC16
447921         2           2019-09-12       21:25:47         NT           Training-Tower-3     HC16
447921         3           2019-09-13       15:52:49         NT           Training-Tower-3     HC16
447921         4           2019-09-14       15:32:03         NT           Training-Tower-3     HC16
447921         5           2019-09-15       12:27:12         NT           Training-Tower-3     HC16
447921         6           2019-09-16       13:52:31         NT           Training-Tower-3     HC16
447921         7           2019-09-17       13:15:27         NT           Training-Tower-3     HC16
447921         8           2019-09-18       13:28:57         NT           Training-Tower-3     HC16
447921         9           2019-09-19       12:16:07         NT           Training-Tower-3     HC16
447921         10          2019-09-20       13:55:02         NT           Training-Tower-3     HC16
447921         11          2019-09-21       13:39:09         NT           Training-Tower-3     HC16
447921         12          2019-09-22       12:21:21         NT           Training-Tower-3     HC16
447921         13          2019-09-23       12:15:26         NT           Training-Tower-3     HC16
447921         14          2019-09-24       12:05:46         NT           Training-Tower-3     HC16
447921         15          2019-09-25       12:23:23         NT           Training-Tower-3     HC16
447921         16          2019-09-26       13:24:53         NT           Training-Tower-3     HC16
447921         17          2019-09-27       10:05:40         NT           Training-Tower-3     HC16
447921         18          2019-09-28       13:39:47         NT           Training-Tower-3     HC16
447921         19          2019-09-30       13:55:12         NT           Training-Tower-3     HC16
447921         20          2019-10-01       13:44:27         NT           Training-Tower-3     HC16
447921         21          2019-10-02       12:26:44         NT           Training-Tower-3     HC16
447921         22          2019-10-03       12:34:38         NT           Training-Tower-3     HC16
447921         23          2019-10-04       12:35:05         NT           Training-Tower-3     HC16
447921         24          2019-10-07       13:19:15         NT           Training-Tower-3     HC16
447921         25          2019-10-08       13:17:29         NT           Training-Tower-3     HC16
447921         26          2019-10-09       9:37:15          NT           Training-Tower-3     HC16
447921         27          2019-10-10       9:42:42          NT           Training-Tower-3     HC16
447921         28          2019-10-11       13:01:43         NT           Training-Tower-3     HC16
447921         29          2019-10-15       9:45:12          NT           Training-Tower-3     HC16
447921         30          2019-10-16       11:13:13         NT           Training-Tower-3     HC16
   ...
 (Total: 1762)

All foraging sessions in Allen

In [27]:
allen_foraging_sessions =  all_foraging_sessions & 'rig LIKE "AIND%"'
allen_foraging_sessions

*subject_id    *session    session_date     session_time     username     rig                water_restriction_number
+------------+ +---------+ +--------------+ +--------------+ +----------+ +----------------+ +--------------------------+
609367         25          2022-04-27       10:09:43         HH           AIND-Ephys-Han     HH19
609367         26          2022-04-28       10:57:03         HH           AIND-Ephys-Han     HH19
609367         27          2022-04-29       10:30:03         HH           AIND-Ephys-Han     HH19
609367         28          2022-04-30       13:50:45         HH           AIND-Ephys-Han     HH19
609367         29          2022-05-01       11:42:35         HH           AIND-Ephys-Han     HH19
609367         30          2022-05-02       10:33:23         HH           AIND-Ephys-Han     HH19
609367         31          2022-05-03       11:09:29         HH           AIND-Ephys-Han     HH19
609367         32          2022-05-04       11:38:27         HH           AIND-Ephys-Han     HH19
609367         33          2022-05-05       11:00:14         HH           AIND-Ephys-Han     HH19
609367         34          2022-05-06       11:15:50         HH           AIND-Ephys-Han     HH19
616133         1           2022-03-07       11:47:03         HH           AIND-Ephys-Han     HH20
616133         2           2022-03-08       11:19:35         HH           AIND-Ephys-Han     HH20
616133         3           2022-03-09       10:38:26         HH           AIND-Ephys-Han     HH20
616133         4           2022-03-10       10:42:58         HH           AIND-Ephys-Han     HH20
616133         5           2022-03-11       10:32:50         HH           AIND-Ephys-Han     HH20
616133         6           2022-03-14       11:31:27         HH           AIND-Ephys-Han     HH20
616133         7           2022-03-16       10:13:02         HH           AIND-Ephys-Han     HH20
616133         8           2022-03-17       10:56:01         HH           AIND-Ephys-Han     HH20
616133         9           2022-03-18       12:30:05         HH           AIND-Ephys-Han     HH20
616133         10          2022-03-21       11:42:27         HH           AIND-Ephys-Han     HH20
616133         11          2022-03-28       11:02:01         HH           AIND-Ephys-Han     HH20
616133         12          2022-03-31       12:49:57         HH           AIND-Ephys-Han     HH20
616133         13          2022-04-05       10:54:53         HH           AIND-Ephys-Han     HH20
616133         14          2022-04-06       11:23:37         HH           AIND-Ephys-Han     HH20
616133         15          2022-04-07       10:56:35         Kenta        AIND-Ephys-Han     HH20
616133         16          2022-04-28       12:26:58         HH           AIND-Ephys-Han     HH20
616133         17          2022-04-30       15:49:59         HH           AIND-Ephys-Han     HH20
616133         18          2022-05-03       14:05:52         HH           AIND-Ephys-Han     HH20
616133         19          2022-05-04       13:37:42         HH           AIND-Ephys-Han     HH20
616133         20          2022-05-05       12:19:37         HH           AIND-Ephys-Han     HH20
   ...
 (Total: 600)

All `KH_*` mice

In [25]:
sessions_with_kh_mice = session_with_h2o_id & 'water_restriction_number LIKE "KH_%"'
sessions_with_kh_mice

*subject_id    *session    session_date     session_time     username     rig                water_restriction_number
+------------+ +---------+ +--------------+ +--------------+ +----------+ +----------------+ +--------------------------+
616134         1           2022-04-20       10:25:31         Lucas        AIND-Tower-1       KH_FB12
616134         2           2022-04-21       12:02:17         Lucas        AIND-Tower-1       KH_FB12
616134         3           2022-04-22       10:23:51         Lucas        AIND-Tower-1       KH_FB12
616134         4           2022-04-25       10:57:55         Lucas        AIND-Tower-1       KH_FB12
616134         5           2022-04-27       11:23:14         Lucas        AIND-Tower-1       KH_FB12
616134         6           2022-04-28       10:59:51         Lucas        AIND-Tower-1       KH_FB12
616134         7           2022-04-29       10:48:14         Lucas        AIND-Tower-1       KH_FB12
616134         8           2022-05-02       10:35:12         Lucas        AIND-Tower-1       KH_FB12
616134         9           2022-05-03       10:50:12         Lucas        AIND-Tower-1       KH_FB12
616134         10          2022-05-04       10:17:31         Lucas        AIND-Tower-1       KH_FB12
616134         11          2022-05-05       10:23:26         Lucas        AIND-Tower-1       KH_FB12
616134         12          2022-05-06       10:30:26         Lucas        AIND-Tower-1       KH_FB12
616134         13          2022-05-09       11:55:02         HH           AIND-Ephys-Han     KH_FB12
616134         14          2022-05-10       12:18:53         HH           AIND-Ephys-Han     KH_FB12
616134         15          2022-05-11       10:03:40         HH           AIND-Ephys-Han     KH_FB12
616134         16          2022-05-12       9:54:45          HH           AIND-Ephys-Han     KH_FB12
616134         17          2022-05-13       9:59:22          HH           AIND-Ephys-Han     KH_FB12
616134         18          2022-05-16       9:47:45          HH           AIND-Ephys-Han     KH_FB12
616134         19          2022-05-17       9:51:54          HH           AIND-Ephys-Han     KH_FB12
616134         20          2022-05-18       11:19:31         HH           AIND-Ephys-Han     KH_FB12
616134         21          2022-05-19       10:46:49         HH           AIND-Ephys-Han     KH_FB12
616268         1           2022-04-20       15:14:29         Kenta        AIND-Tower-2       KH_FB10
616268         2           2022-04-21       10:28:17         Kenta        AIND-Tower-2       KH_FB10
616268         3           2022-04-22       14:26:05         Kenta        AIND-Tower-2       KH_FB10
616268         4           2022-04-25       16:45:33         Kenta        AIND-Tower-2       KH_FB10
617888         1           2022-05-16       11:45:58         Lucas        AIND-Tower-1       KH_FB17
617888         2           2022-05-17       10:50:04         Lucas        AIND-Tower-1       KH_FB17
617888         3           2022-05-18       11:01:53         Lucas        AIND-Tower-1       KH_FB17
617888         4           2022-05-19       11:50:49         Lucas        AIND-Tower-1       KH_FB17
617888         5           2022-05-20       10:59:56         Lucas        AIND-Tower-1       KH_FB17
   ...
 (Total: 535)

For each mouse, count the total number of sessions, and show the first and the last `session_date`

In [28]:
summary_kh = dj.U('water_restriction_number').aggr(allen_foraging_sessions, total_sessions='COUNT(*)', first_date='MIN(session_date)', last_date='MAX(session_date)')

In [29]:
summary_kh.fetch(order_by='first_date', format="frame")

                         total_sessions  first_date   last_date
water_restriction_number
HH20                                 31  2022-03-07  2022-06-03
HH19                                 34  2022-03-08  2022-05-06
KH_FB8                               39  2022-04-09  2022-06-16
KH_FB9                               12  2022-04-09  2022-04-26
KH_FB12                              21  2022-04-20  2022-05-19
KH_FB10                               4  2022-04-20  2022-04-25
KH_FB13                              28  2022-05-02  2022-06-28
KH_FB14                              32  2022-05-02  2022-06-28
KH_FB15                               5  2022-05-06  2022-05-12
KH_FB17                              31  2022-05-16  2022-06-28
KH_FB18                              24  2022-05-16  2022-06-17
KH_FB19                              28  2022-05-16  2022-07-19
KH_FB20                              18  2022-05-24  2022-06-16
KH_FB22                               3  2022-06-11  2022-06-13
KH_FB23                              31  2022-06-22  2022-08-29
KH_FB24                              35  2022-06-22  2022-08-29
KH_FB27                               8  2022-06-23  2022-07-01
KH_FB26                              37  2022-06-23  2022-08-23
KH_FB29                               9  2022-07-12  2022-07-22
KH_FB28                              15  2022-07-13  2022-08-05
KH_FB32                              42  2022-07-16  2022-09-29
KH_FB30                               7  2022-07-16  2022-07-22
KH_FB31                              48  2022-07-16  2022-10-06
KH_FB33                              37  2022-07-25  2022-09-30
KH_FB34                               8  2022-07-25  2022-08-05
KH_FB36                              13  2022-08-05  2022-08-21

In [30]:
summary_kh.fetch(order_by='first_date', format="frame")

                         total_sessions  first_date   last_date
water_restriction_number
HH20                                 31  2022-03-07  2022-06-03
HH19                                 34  2022-03-08  2022-05-06
KH_FB8                               39  2022-04-09  2022-06-16
KH_FB9                               12  2022-04-09  2022-04-26
KH_FB12                              21  2022-04-20  2022-05-19
KH_FB10                               4  2022-04-20  2022-04-25
KH_FB13                              28  2022-05-02  2022-06-28
KH_FB14                              32  2022-05-02  2022-06-28
KH_FB15                               5  2022-05-06  2022-05-12
KH_FB17                              31  2022-05-16  2022-06-28
KH_FB18                              24  2022-05-16  2022-06-17
KH_FB19                              28  2022-05-16  2022-07-19
KH_FB20                              18  2022-05-24  2022-06-16
KH_FB22                               3  2022-06-11  2022-06-13
KH_FB23                              31  2022-06-22  2022-08-29
KH_FB24                              35  2022-06-22  2022-08-29
KH_FB27                               8  2022-06-23  2022-07-01
KH_FB26                              37  2022-06-23  2022-08-23
KH_FB29                               9  2022-07-12  2022-07-22
KH_FB28                              15  2022-07-13  2022-08-05
KH_FB32                              42  2022-07-16  2022-09-29
KH_FB30                               7  2022-07-16  2022-07-22
KH_FB31                              48  2022-07-16  2022-10-06
KH_FB33                              37  2022-07-25  2022-09-30
KH_FB34                               8  2022-07-25  2022-08-05
KH_FB36                              13  2022-08-05  2022-08-21

In [35]:
(sessions_with_kh_mice & 'water_restriction_number = "KH_FB33"').fetch(offset=20, format="frame")

[2022-11-08 05:51:45,223][WARNING]: Offset set, but no limit. Setting limit to a large number. Consider setting a limit explicitly.

                   session_date    session_time username           rig  \
subject_id session
632106     21        2022-08-25 0 days 09:48:41    Lucas  AIND-Tower-1
           22        2022-08-26 0 days 10:06:25    Lucas  AIND-Tower-1
           23        2022-08-29 0 days 09:16:15    Lucas  AIND-Tower-3
           24        2022-08-30 0 days 09:51:09    Lucas  AIND-Tower-3
           25        2022-08-31 0 days 10:51:28    Lucas  AIND-Tower-3
           26        2022-09-01 0 days 09:16:36    Lucas  AIND-Tower-3
           27        2022-09-02 0 days 10:14:53    Lucas  AIND-Tower-3
           28        2022-09-06 0 days 09:22:43    Lucas  AIND-Tower-3
           29        2022-09-07 0 days 10:38:34    Lucas  AIND-Tower-3
           30        2022-09-08 0 days 14:04:07    Lucas  AIND-Tower-3
           31        2022-09-09 0 days 10:07:16    Lucas  AIND-Tower-3
           32        2022-09-19 0 days 12:58:36    Lucas  AIND-Tower-3
           33        2022-09-20 0 days 11:34:30    Lucas  AIND-Tower-3
           34        2022-09-21 0 days 12:17:21    Lucas  AIND-Tower-3
           37        2022-09-26 0 days 09:18:51    Lucas  AIND-Tower-3
           39        2022-09-29 0 days 12:56:10    Lucas  AIND-Tower-3
           40        2022-09-30 0 days 11:10:13    Lucas  AIND-Tower-3

                   water_restriction_number
subject_id session
632106     21                       KH_FB33
           22                       KH_FB33
           23                       KH_FB33
           24                       KH_FB33
           25                       KH_FB33
           26                       KH_FB33
           27                       KH_FB33
           28                       KH_FB33
           29                       KH_FB33
           30                       KH_FB33
           31                       KH_FB33
           32                       KH_FB33
           33                       KH_FB33
           34                       KH_FB33
           37                       KH_FB33
           39                       KH_FB33
           40                       KH_FB33

In [40]:
lab.WaterRestriction & 'water_restriction_number = "KH_FB42"'

*subject_id    water_restriction_number     cage_number     wr_start_date     wr_start_weight
+------------+ +--------------------------+ +-------------+ +---------------+ +-----------------+

 (Total: 0)